{
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "plugins": ["react", "@typescript-eslint"],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "rules": {
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "react/react-in-jsx-scope": 0,
        "no-case-declarations": "off",
        "indent": ["error", 2],
        "linebreak-style": 0,
        "quotes": ["error", "single"],
        "no-trailing-spaces": "error",
        "object-curly-spacing": ["error", "always"],
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "semi": ["error", "never"],
        "no-multiple-empty-lines": 1,
        "no-console": 0
    }
}
